/* ADDING FONTS */

@font-face {
    font-family: PoppinsBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(fonts/Poppins-Light.ttf);
}


/* BODY */

html{
    height: 100%;
}

body {
    font-family: PoppinsMedium;
    padding-bottom: 250px;
    position: relative;
    margin: 0;
    min-height: 100%;
}

p {
    font-family: PoppinsLight;
}

h3{
    font-family: PoppinsMedium;
}

/* NAVIGATION BAR */

.header{
    float: left;
}

#navigation{
    display: flex;
   
}

.nav_link a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: PoppinsBold;
}

a:hover {
    color: skyblue;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid black;
    padding: 10px;
}





/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: right;
}




/* SLIDESHOWS + OPENING HOURS */

.mainbody-container {
    display: flex;
    padding: 50px;
    padding-bottom: 150px;
}

* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    flex-basis: 60%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}   

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.openingHours{
    flex-basis: 40%;
    justify-self: flex-end;
    text-align: center;
}

/* EXHBITION */

.card-container{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin:auto; 
    transition-timing-function: ease;
}

.permanentExhibition{
    display: flex;
    border: 1.5px solid black;
}

.permanentExhibitionImage{
    padding-right: 20px;
}

.featuredExhibition {
    display: flex;
    border: 1.5px solid black;
    margin-top: 10px;

}

.featuredExhibitionImage {
    padding-right: 20px;
}



/* TICKETS PAGE --------------------------------------------------------------------------------------------------------------------------------------------- */

.tickets-container{
    padding: 100px;
}

.ticketsCow{
    float: right;
}


input[type=submit] {
    font-family: PoppinsBold;
    background-color: #000000;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}
    